*.log
*.tmp
*.swp
*.swo

frontend/nullpointer/node_modules/
frontend/nullpointer/.env
frontend/nullpointer/npm-debug.log*
frontend/nullpointer/yarn-debug.log*
frontend/nullpointer/yarn-error.log*
frontend/nullpointer/dist/
frontend/nullpointer/build/
frontend/nullpointer/.parcel-cache/
frontend/nullpointer/.idea/
frontend/nullpointer/.vscode/
frontend/nullpointer/.DS_Store
frontend/nullpointer/tsconfig.tsbuildinfo

backend/nullpointer/logs/
backend/nullpointer/*.log
backend/nullpointer/target/
backend/nullpointer/*.env
backend/nullpointer/.mvn/
backend/nullpointer/pom.xml.tag
backend/nullpointer/pom.xml.releaseBackup
backend/nullpointer/pom.xml.versionsBackup
backend/nullpointer/pom.xml.next
backend/nullpointer/.gradle/
backend/nullpointer/build/
backend/nullpointer/.idea/
backend/nullpointer/.vscode/
backend/nullpointer/.classpath
backend/nullpointer/.project
backend/nullpointer/.settings/
backend/nullpointer/.factorypath
backend/nullpointer/.DS_Store
backend/nullpointer/.history
backend/nullpointer/.swp
backend/nullpointer/.swo

.idea/
.vscode/